node_modules
frontend/node_modules
secret-config.json
docker/secret-config.json
docker/config.json
old-queries
python-scripts
frontend/src/config.json
database/mainwiki3.sql
database/mainwiki3-dump1.sql
database/mainwiki3-dump2.sql
database/mainwiki3-dump3.sql
database/mainwiki3-dump4.sql
sessions.json
scripts/tag-bookmarks/bookmarks.json
scripts/tag-bookmarks/bookmarks-out.json